Super IdeaBox

<button type="button" class="new-idea-button">Create New Idea</button>

<div class="row">
  <div class="six columns new-idea-form hidden">
    <%= form_for @idea, remote: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.submit "Submit New Idea" %>
    <% end %>
  </div>

  <div class="six columns idea-list">
    Bright Ideas
  </div>
</div>
